<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/forum.css">
    <title>Forum</title>
    <link rel = "icon" href ="../resources/Assets/logo.png" type = "image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <input type="radio" name="photos" id="check1" checked>
    <input type="radio" name="photos" id="check2">
    <input type="radio" name="photos" id="check3">
    <input type="radio" name="photos" id="check4">

    <div class="container">
        <h1>OUR PET GALLERY</h1>
        <div class="top-content">
            <h3>Photo Gallery</h3>
            <label for="check1">All Pets</label>
            <label for="check2"><img src="../resources/Assets/dog.png" alt="" width="22" height="22"> Dogs</label>
            <label for="check3"><img src="../resources/Assets/cat.png" alt="" width="22" height="22"> Cats</label>
            <label for="check4">
                <img src="../resources/Assets/bird.png" alt="" width="22" height="22">
                <img src="../resources/Assets/rat.png" alt="" width="22" height="22"> 
                Others
            </label>
            <label class="profile dropdown">
                <?php echo "<img src='$rest' alt='' width='19px' height='19px'>" ?>
                <a>Profile</a>
                <div class="dropdown-content">
                    <a href="./user_Profile.php" style="font-size: 16px;">My profile</a>
                    <a href="./post_Pet.php" style="font-size: 16px;">Create pet profile</a>
                </div>
            </label>
        </div>

        <div class="photo-gallery" id="gallery">
            <!-- <div class="pic dog">
                <a href="./pet_Profile.php"><img src="../resources/Assets/pet2.jpg" alt="Hola"></a>
            </div>
            <div class="pic dog">
                <a href="./petProfile.html"><img src="./Assets/dog1.jpg" alt=""></a>
            </div>
            <div class="pic cat">
                <a href="./petProfile.html"><img src="./Assets/cat1.jpg" alt=""></a>
            </div>
            <div class="pic cat">
                <a href="./petProfile.html"><img src="./Assets/cat2.jpg" alt=""></a>
            </div>
            <div class="pic other">
                <a href="./petProfile.html"><img src="./Assets/hamster1.jpeg" alt=""></a>
            </div>
            <div class="pic dog">
                <a href="./petProfile.html"><img src="./Assets/dog2.jpg" alt=""></a>
            </div>
            <div class="pic other">
                <a href="./petProfile.html"><img src="./Assets/bird1.jpg" alt=""></a>
            </div>
            <div class="pic cat">
                <a href="./petProfile.html"><img src="./Assets/cat3.jpg" alt=""></a>
            </div>
            <div class="pic dog">
                <a href="./petProfile.html"><img src="./Assets/dog3.jpg" alt=""></a>
            </div> -->
        </div>
    </div>
    <script>
        var url = "../resources/Scripts/forum.js";
        $.getScript(url);
    </script>
</body>
</html>