<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="forum.css">
    <title>Forum</title>
</head>
<body>
    <input type="radio" name="photos" id="check1" checked>
    <input type="radio" name="photos" id="check2">
    <input type="radio" name="photos" id="check3">
    <input type="radio" name="photos" id="check4">

    <div class="container">
        <h1>OUR PET GALLERY</h1>
        <div class="top-content">
            <h3>Photo Gallery</h3>
            <label for="check1">All Pets</label>
            <label for="check2">Dogs</label>
            <label for="check3">Cats</label>
            <label for="check4">Others</label>
            <label class="profile"><a href="./userProfile.html">Profile</a></label>
        </div>

        <div class="photo-gallery">
            <div class="pic dog">
                <img src="../resources/Assets/pet1.jpg" alt="">
            </div>
            <div class="pic dog">
                <img src="../resources/Assets/pet2.jpg" alt="">
            </div>
            <div class="pic cat">
                <img src="../resources/Assets/pet3.jpg" alt="">
            </div>
            <div class="pic cat">
                <img src="../resources/Assets/pet2.jpg" alt="">
            </div>
            <div class="pic other">
                <img src="../resources/Assets/pet1.jpg" alt="">
            </div>
            <div class="pic dog">
                <img src="../resources/Assets/pet3.jpg" alt="">
            </div>
            <div class="pic other">
                <img src="../resources/Assets/pet2.jpg" alt="">
            </div>
            <div class="pic cat">
                <img src="../resources/Assets/pet1.jpg" alt="">
            </div>
            <div class="pic dog">
                <img src="../resources/Assets/pet3.jpg" alt="">
            </div>
        </div>
    </div>
</body>
</html>